*{
    color: rgba(51, 51, 51, 0.923);
}

.icon--check{
    align-items: center;
    i{
        font-size: 42px;
        color: #999;
    }
    div{
        margin-left: 10px;
    }
}

.footer--header{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.get--c{
    align-items: center;
}

.horiz--line{
    width: 82%;
    border-top: 0.2px solid rgb(190, 184, 184);
}

.contact{
    text-decoration: none;
}

