.secondary-header{
    text-transform: uppercase;
    padding: 2% 0;
}

.men--ind{
    justify-content: space-around;
    div{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.men--sport{
    justify-content: space-around;
    img{
        width: 100%;
    }
}

.men--foot{
    justify-content: space-around;
    img{
        width: 100%;
    }
}

.men--acc{
    justify-content: space-around;
    img{
        width: 100%;
    }
}