// .sticky {
//   position: sticky;
//   top: 0; 
//   // opacity: 1;
//   z-index: 100;
// }
// .sticky{
//   position: relative;
//   top: 0;
// }
.navbar {
  background-color: rgb(180, 235, 235);
  padding: 5px 0px;
  .input-group {
    height: 30px;
    span {
      background-color: #f5f5f6;
      border-right: none;
    }
    input {
      border-left: #f5f5f6;
      background-color: #f5f5f6;
    }
  }

  .nav-item {
    a{
      font-size: 14px;
    }
  }

  .nav--icon {
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
}

form{
  align-items: center;
}

.nav-link{
  font-weight: 600;
}
.nav--m{
  width: 0%;
}

.nav--md{
  cursor: pointer;
}

.nav--new{
  top: 0%;
  // right: 0;
  left: 80%;
  color: rgb(216, 35, 35);
}

.blink{
  text-decoration: none;
  color: #000;
  text-align: center;
  
}