<div class="container">
<div class="row my-4">
    <div class="col-md-6">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of product[0].images">
              <div class="wrapper">
                <img [src]="image.src != '' ? image.src : 'https://preview.redd.it/ynd3as3qqxt01.jpg?auto=webp&s=edb3ea0e502cd3d34c5da14d396075afd1795987'" alt="Random first slide"/>
              </div>
              <div class="carousel-caption">
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
    <div class="col-md-6" *ngFor="let obj of product">
        <div class="head--box">
            <div class="brand--head">{{obj.brand}}</div>
            <div class="product--name">{{obj.product}}</div>
            <div class="rate--box my-3">
                <div class="rating">{{(obj.rating).toFixed(2)}} <i class="bi bi-star-fill"></i></div>
                <div class="rating--count">{{obj.ratingCount}} rating</div>
            </div>
            <hr>
        </div>
        <div class="price--box">
            <div class="price--cont">
                <div class="price">₹{{obj.price}}</div>
                <div class="original-price">MRP <span>₹{{obj.mrp}}</span></div>
                <div class="offer">({{((obj.discount/obj.mrp)*100).toFixed(2)}}% OFF)</div>
            </div>
            <p class="tax-text">inclusive of all taxes</p>
            <div class="size--box my-3">
                <div class="d-flex">
                    <div class="me-5 slct">SELECT SIZE</div>
                    <div class="chart">SIZE CHART <i class="bi bi-caret-right-fill"></i></div>
                </div>
                <div class="size--list my-4">
                    <ul id="sizes" class="d-flex justify-content-between direction" >
                        <li *ngFor="let size of product[0].inventoryInfo let i = index" 
                        id={{i}} (click)="getSize(size.label,i,this)">{{size.label}}</li>
                    </ul>
                </div>
            </div>
            <div class="button--box mt-5 mb-2">
                <button class="btn btn-bag p-2" [disabled]="!flag" (click)="addBag(obj)"><i class="bi bi-bag-fill"></i> Add to bag</button>
                <button *ngIf="!favIcon" class="btn btn-wish p-2" (click)="addToWish(obj)"><i class="bi bi-heart"></i> Add to wishlist</button>
                <button *ngIf="favIcon" class="btn btn-wish p-2" (click)="removeFromWish(obj)"><i class="bi bi-heart-fill"></i> Remove from wishlist</button>
            </div>
        </div>
    </div>
</div>
</div>