.secondary-header{
    text-transform: uppercase;
    padding: 2% 0;
}

.kids--brand{
    justify-content: space-around;
    column-gap: 5px;
    div{
        img{
            width: 100%;
        }
        width: 100%;
        border-radius: 50%;
        border: 2px solid yellow;
        overflow: hidden;
    }
}

.kids--ionic{
    justify-content: space-around;
    img{
        width: 100%;
    }
}

.kids--fashion{
    justify-content: space-around;
    img{
        width: 100%;
    }
}

.buy--box{
    text-align: center;
    text-transform: uppercase;
    div{
        padding: 30px;
        background-color: #fec94f;
        p{
            padding: 15px;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
        }
    }
}

a{
    text-decoration: none;
}