<app-navbar class="sticky"></app-navbar>
<app-loader *ngIf="!loader"></app-loader>
<div class="container my-4" *ngIf="loader">
<div class="container">
    <div class="steps" *ngIf="isEmpty">
        <a class="step" (click)="openTab(1)">Bag List</a>
        <span class="connect-line line--1"></span>
        <a class="step" (click)="openTab(2)">Address</a>
        <span class="connect-line line--2"></span>
        <a class="step" (click)="openTab(3)">Payment</a>
    </div>
    <div class="empty" *ngIf="!isEmpty">
      <div>
        <h2>Your Bag is Empty</h2>
        <i class="bi bi-cart3"></i>
        <a href="/" class="btn btn-success">Add items</a>
      </div>
    </div>
    <form class="form" *ngIf="isEmpty" [formGroup]="stepperForm" (ngSubmit)="getDatas(bag,stepperForm.value)">
    <div class="tab" *ngIf="steps==1">
        <div class="all my-4" *ngIf="isEmpty">
            <button type="button" class="btn btn-danger" (click)="deleteAll()">Remove All</button>
          </div>
          <div class="empty" *ngIf="!isEmpty">
            <h2>Your Bag is Empty</h2>
            <i class="bi bi-cart3"></i>
            <a href="/" class="btn btn-success">Add items</a>
          </div>
          <div class="row">
            <div
              class="col-md-6"
              *ngFor="let product of bagProducts | async; let i = index"
            >
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="{{ product.image }}"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <p class="card-text">SIZE: {{ product.size }}</p>
                      <p class="card-text">Quantity: {{ product.qty }}</p>
                      <p class="card-text">
                        MRP Rs.{{ product.price }} {{ product.discount }}
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Sold by:- {{ product.title }}</small>
                      </p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-danger" (click)="deleteItem(product.key)">
                    Remove from bag
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="total" *ngIf="isEmpty">
            <div class="total--item">
              Total items in bag:- {{ (bagProducts | async)?.length }} items
            </div>
            <div class="total--amount">
              Total amount for payment:- Rs.{{ total | async }}
            </div>
          </div>
    </div>
    <div class="tab" *ngIf="steps==2">
        <h3 class="tab--head">Address Details</h3>
            <div class="saved--addresses">
              <div class="addresses--box" *ngFor="let item of addressProducts | async; let i = index">
                <div class="card">
                  <input type="radio" name="radio" id="" class="input--add-check form-check-input" (change)="getAddressInForm(item)">
                  <div class="card-body">
                    <div class="card-title">Address {{i+1}}</div>
                    <div class="card-text"><span class="sub">Full name: </span><span class="item-data">{{item.name}}</span></div>
                    <div class="card-text"><span class="sub">Contact number: </span><span class="item-data">{{item.phone}}</span></div>
                    <div class="card-text"><span class="sub">Address: </span><span class="item-data">{{item.address}}</span></div>
                    <div class="card-text"><span class="sub">PIN code: </span><span class="item-data">{{item.pin}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2 form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="userName" placeholder="Enter the person name" [value]="booAdd ? addName : ''">
                <p class="error--line" *ngIf="stepperForm.get('userName')?.invalid && stepperForm.get('userName')?.touched">Enter valid user name</p>
            </div>
            <div class="my-2 form-group">
                <label for="">Phone</label>
                <input type="number" class="form-control" formControlName="phone" placeholder="Enter the phone number" onkeydown="return event.keyCode !== 69" [value]="booAdd ? addNumber : ''">
                <p class="error--line" *ngIf="stepperForm.get('phone')?.invalid && stepperForm.get('phone')?.touched">Enter valid phone</p>
            </div>
            <div class="my-2 form-group">
                <label for="">Address</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Enter your address" [value]="booAdd ? addAddress : ''">
                <p class="error--line" *ngIf="stepperForm.get('address')?.invalid && stepperForm.get('address')?.touched">Enter valid address</p>
            </div>
            <div class="my-2 form-group">
                <label for="">PIN code</label>
                <input type="number" class="form-control" formControlName="pin" placeholder="Enter the PIN code" onkeydown="return event.keyCode !== 69" [value]="booAdd ? addPin : ''">
                <p class="error--line" *ngIf="stepperForm.get('pin')?.invalid && stepperForm.get('pin')?.touched">Enter valid pin</p>
            </div>
        
    </div>
    <div class="tab" *ngIf="steps==3">
        <h3 class="tab--head">Payment</h3>
        <div class="saved--cards">
          <div class="cards--box" *ngFor="let item of cardsProducts | async; let i = index">
            <div class="card">
              <input type="radio" name="radio" id="" class="input--add-check form-check-input">
              <div class="card-body">
                <div class="card-title">Card {{i+1}}</div>
                <div class="card-text"><span class="sub">Name on card: </span><span class="item--data">{{item.name}}</span></div>
                <div class="card-text"><span class="sub">Card number: </span><span class="item--data">{{item.number}}</span></div>
                <div class="card-text"><span class="sub">Expiry date: </span><span class="item--data">{{item.expiry}}</span></div>
                <div class="card-text"><span class="sub">CVV of the Card: </span><span class="item--data">{{item.cvv}}</span></div>
              </div>
            </div>
          </div>
        </div>
            <div class="form-group">
                <label>Card number</label>
                <input type="number" name="" id="" class="form-control" formControlName="cardNum" placeholder="Enter the card number" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="stepperForm.get('cardNum')?.invalid && stepperForm.get('cardNum')?.touched">Enter valid card number</p>
            </div>
            <div class="form-group">
                <label>Name on Card</label>
                <input type="text" name="" id="" class="form-control" formControlName="userCard" placeholder="Enter the name on card">
                <p class="error--line" *ngIf="stepperForm.get('userCard')?.invalid && stepperForm.get('userCard')?.touched">Enter valid name on card</p>
            </div>
            <div class="form-group">
                <label>Expiry Month</label>
                <input type="month" name="" id="" class="form-control" formControlName="date" placeholder="Enter the expiry month on card">
                <p class="error--line" *ngIf="stepperForm.get('date')?.invalid && stepperForm.get('date')?.touched">Enter valid expiry date</p>
            </div>
            <div class="form-group">
                <label>CVV</label>
                <input type="number" name="" id="" class="form-control" formControlName="cvv" placeholder="Enter the cvv of card" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="stepperForm.get('cvv')?.invalid && stepperForm.get('cvv')?.touched">Enter valid cvv</p>
            </div>
    </div>
    <div style="overflow: auto">
        <div style="float: right">
          <button type="button" class="btn bth-sm btn-outline-primary me-2" id="prevBtn" *ngIf="steps != 1" (click)="prevBtn()">
            Back
          </button>
          <button type="button" class="btn bth-sm btn-primary me-2" id="nextBtn" *ngIf="steps != 3" (click)="nextBtn()">
            {{steps == 1 ? 'Place Order': 'Continue'}}
          </button>
          <button [disabled]="!stepperForm.valid" type="submit" class="btn btn-primary" *ngIf="steps == 3">
            Place Order
          </button>
        </div>
      </div>
</form>
</div>
</div>
<app-footer></app-footer>