<div class="my-4 row box">
    <div class="filter--box col-2 my-5">
        <app-filters
        [radios]="radioFilter"
        [brands]="filterBrands" (result)="getVal($event)"
        [price]="filterPrice" (range)="getRange($event)"
        [selInd]="selectedIndex" [ind]="1"
        ></app-filters>
    </div>
    <div class="product--box col-10">
        <div class="sort--box my-5">
            <select class="form-select" (change)="selectChange($event.target)">
                <option selected>Sort by price</option>
                <option value="high">Price high to low</option>
                <option value="low">Price low to high</option>
            </select>
        </div>
        <div class="products row g-4">
           
            <app-products [class]="products" [cls]="product" [boo]="flag" [fun]="details" [products]="products | async"></app-products>

            <app-products [class]="results" [cls]="" [boo]="!flag" [fun]="details" [products]="results"></app-products>
        </div>
    </div>
</div>