.box {
  position: relative;
  width: 90%;
  margin: auto;
}

.product--box {
  overflow-y: auto;
}

.sort--box {
  width: 30%;
  justify-content: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bi-heart {
  color: #fd457f;
  font-size: 20px;
}

.bi-heart-fill {
  color: #fd457f;
  font-size: 20px;
}

.clear {
  text-decoration: none;
  color: crimson;
}

.filter--box {
  position: sticky;
}

.icons{
  margin: 10px;
  top: 2%;
  right: 5%;
  z-index: 0;
  .icn--cl{
    cursor: pointer;
    z-index: 100;
  }
}

.card{
  cursor: pointer;
  .card-body{
    .card-title{
      font-size: 20px;
      font-weight: 500;
    }
    .card-text{
      font-size: 16px;
      font-weight: 400;
      .price {
        font-size: 20px;
        font-weight: 600;
      }
      .original--price {
        text-decoration: line-through;
        color: rgb(67, 64, 64);
      }
    }
  }
}