<div class="row">
    
<div class="col-md-3 col-sm-4 box--{{class}} {{cls}} {{boo ? 'hide': ''}}" *ngFor="let product of products let i = index" (click)="details(i,product)">
    <div class="card">
        <img src="{{product.images[0].src}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.brand}}</h5>
            <p class="card-text">{{product.additionalInfo}}</p>
            <p class="card-text"><span class="price">₹ {{product.price}} </span><span class="original--price">{{product.mrp}}</span></p>
        </div>
    </div>
</div>
</div>
