.box{
    position: relative;
    width: 90%;
    margin: auto;
}

.product--box{
    overflow-y: auto;
}

.price{
    font-size: 22px;
    font-weight: 600;
}

.original--price{
    text-decoration: line-through;
    color: red;
}

.sort--box{
    width: 30%;
    justify-content: center;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.bi-heart{
    color: #fd457f;
    cursor: pointer;
    font-size: 20px;
}

.bi-heart-fill{
    color: #fd457f;
}

.clear{
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: crimson;
}

.filter--box{
    position: sticky; 
}

.radio--box{
    font-weight: 500;
}

.radio--box , .check--box, .price--check{
    font-size: 14px;
}

.filter--head{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}