.set--point{
    cursor: pointer;
    text-decoration: none;
    color: #555;
}

.user--name{
    font-size: 18px;
    font-weight: 500;
}

.set--point:hover{
    color: #000;
}

.overview--box{
    border: 1px solid rgb(168, 165, 165);
    
}

.bi-pencil-square{
    color: blue;
    font-size: 22px;
}
.bi-plus-lg{
    color: #fff;
    // font-size: 22px;
    // font-weight: 700;
}

.orders--box{
    border: 1px solid rgb(181, 177, 177);
    display: flex;
    flex-direction: column;
    .ord--none{
        color: rgb(241, 73, 73);
        font-size: 20px;
        margin: auto;
    }
    .order--head{
        margin: auto;
    }
    .card{
        margin-left: 15%;
        width: 100%;
        background-color: rgb(218, 209, 209);
        img{
            object-fit: contain;
        }
        button{
            border-radius: 50%;
            position: absolute;
            top: 1%;
            right: 0%;
        }
        .relative{
            position: relative;
        }
        .card-text{
            margin-bottom: 5px;
        }
        .card--end{
            color: blue;
        }
    }
}

.cards--box{
    border: 1px solid rgb(180, 177, 177);
    padding: 40px 80px;
    .card{
        margin-top: 15px;
        .card-header{
            text-transform: uppercase;
            color: #222;
            background-color: rgb(220, 202, 202);
        }
        .card-text{
            display: flex;
            gap: 12px;
            p{
                font-size: 20px;
                font-weight: 500;
                color: #555;
            }
            div{
                font-size: 20px;
                font-weight: 400;
            }
        }
        .card-foot{
            margin-top: 8px;
            display: flex;
            gap: 20px;
        }
    }
}

.hide{
    display: none;
}

.profile-img{
    position: relative;
    img{
        border-radius: 100%;
    }
    button{
        position: absolute;
        bottom: 1px;
        border-radius: 100%;
        background-color: #084093fa;
        color: rgb(246, 246, 248);
        left: 100px;
    }
}

.error--line{
    color: red;
    font-size: 14px;
}