<app-navbar class="sticky"></app-navbar>
<app-loader *ngIf="!loader"></app-loader>
<div class="container my-4" *ngIf="loader">
    <div>
        <h3>Account</h3>
        <p>Myntra user <span class="user--name"> {{currentUser?.username}}</span></p>
        <div *ngIf="userData" class="profile-img">
            <img [src]="currentUser?.photoURL ? currentUser.photoURL : '../../assets/placeholder.webp'" alt="" width="120" height="120">
            <button class="btn" (click)="profile.click()"><i class="bi bi-pencil-fill"></i></button>
            <input #profile type="file" hidden (change)="onPhotoSelect($event, userData)">
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-2 d-flex flex-column">
            <div class="card">
                <div class="card-body">
                    <a class="set--point" (click)="gotoDiv(0)">Overview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a class="set--point card-link" (click)="gotoDiv(1)">Orders</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a class="set--point card-link" (click)="gotoDiv(2)">Saved Cards</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a class="set--point card-link" (click)="gotoDiv(3)">Addresses</a>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="overview--box py-5 px-5 {{text == 'zero' ? '' : 'hide'}}">
                <div class="d-flex justify-content-between">
                    <h2>Profile details</h2>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal20"><i class="bi bi-pencil-square"></i></button>
                </div>
                <hr>
                <div class="table-box">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="table--left">Full name</td>
                                <td class="table--right">:-  {{userName }}</td>
                            </tr>
                            <tr>
                                <td class="table--left">Mobile number</td>
                                <td class="table--right">:- {{userCountry}}  {{userPhone}}</td>
                            </tr>
                            <tr>
                                <td class="table--left">Email ID</td>
                                <td class="table--right">:-  {{userEmail}}</td>
                            </tr>
                            <tr>
                                <td class="table--left">Gender</td>
                                <td class="table--right">:-  {{userGender}}</td>
                            </tr>
                            <tr>
                                <td class="table--left">Date of Birth</td>
                                <td class="table--right">:-  {{userDOB}}</td>
                            </tr>
                            <tr>
                                <td class="table--left">Location</td>
                                <td class="table--right">:-  {{userLocation}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger" (click)="logout()">Logout</button>
                </div>
            </div>
            <div class="orders--box {{text == 'one' ? '' : 'hide'}}" >
                <h2 class="order--head">Your Orders</h2>
                <p *ngIf="orderLength == 0" class="ord--none">You haven't ordered yet</p>
                <app-loader *ngIf="!loader"></app-loader>
                <div *ngIf="loader">
                <div *ngFor="let prod of ordersProduct | async" >
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="card mb-3 mt-3" style="max-width: 540px;" *ngFor="let box of prod.datas">
                    <div class="row g-0 boxes open--model" (click)="modalView(prod,box)">
                        <div class="col-md-4 ">
                        <img src="{{box.image}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 relative">
                        <div class="card-body">
                            <h5 class="card-title">{{box.title}}</h5>
                            <p class="card-text">{{box.description}}</p>
                            <p class="card-text">Size : {{box.size}}</p>
                            <p class="card-text">MRP : {{box.price}}Rs.</p>
                            <a class="card-link card--end">Click to know more &rarr;</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </a>
                </div> 
            </div>
            </div>
            <div class="cards--box {{text == 'two' ? '' : 'hide'}}">
                <div class="d-flex justify-content-between">
                    <h2>Your Saved Cards</h2>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Add card</button>
                </div>
                <div class="products-card-box">
                    <div class="card--none" *ngIf="cardsLength == 0">
                        <div>
                            <div class="card--icon"><i class="bi bi-wallet2"></i></div>
                            <div class="card--text">SAVE YOUR CREDIT/DEBIT CARDS DURING PAYMENT</div>
                        </div>
                    </div>
                    <div class="card" *ngFor="let item of cardsProduct | async; let i = index">
                        <h4 class="card-header">Card {{i + 1}}</h4>
                        <div class="card-body">
                            <div class="card-text"><p>Name on the Card:</p> <div>{{item.name}}</div></div>
                            <div class="card-text"><p>Card Number:</p> <div>{{item.number}}</div></div>
                            <div class="card-text"><p>Expiry month in Card:</p> <div>{{item.expiry}}</div></div>
                            <div class="card-text"><p>CVV of Card:</p> <div>{{item.cvv}}</div></div>
                            <div class="card-foot">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click)="editOneCard(item.key)">Edit</button>
                                <button class="btn btn-danger" (click)="deleteCard(item.key)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards--box {{text == 'three' ? '' : 'hide'}}">
                <div class="d-flex justify-content-between">
                    <h2>Your Saved Addresses</h2>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">Add address</button>
                </div>
                <div class="products-address-box">
                    <div class="address--none" *ngIf="addressLength == 0">
                        <div>
                            <div class="address--icon"><i class="bi bi-person-plus-fill"></i></div>
                            <div class="address--text">SAVE YOUR ADDRESSES DURING ORDER</div>
                        </div>
                    </div>
                    <div class="card" *ngFor="let item of addressProduct | async; let i = index">
                        <h4 class="card-header">Address {{i + 1}}</h4>
                        <div class="card-body">
                            <div class="card-text"><p>Name :</p><div>{{item.name}}</div></div>
                            <div class="card-text"><p>Phone :</p><div>{{item.phone}}</div></div>
                            <div class="card-text"><p>Address :</p><div>{{item.address}}</div></div>
                            <div class="card-text"><p>PIN :</p><div>{{item.pin}}</div></div>
                            <div class="card-foot">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal15" (click)="editOneAddress(item.key)">Edit</button>
                                <button class="btn btn-danger" (click)="deleteAddress(item.key)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Cards modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="cardForm" (submit)="createCard(cardForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>Name on card</label>
                <input type="text" class="form-control" formControlName="name" minlength="1">
                <p class="error--line" *ngIf="!cardForm.get('name')?.valid && cardForm.get('name')?.touched">Enter the valid name on card</p>
            </div>
            <div class="mb-3">
                <label>Card number</label>
                <input type="number" class="form-control" placeholder="xxxxxxxxxxxx" formControlName="number" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!cardForm.get('number')?.valid && cardForm.get('number')?.touched">Enter the valid card number</p>
            </div>
            <div class="mb-3">
                <label>Expiry month</label>
                <input type="month" class="form-control" formControlName="expiry">
                <p class="error--line" *ngIf="!cardForm.get('expiry')?.valid && cardForm.get('expiry')?.touched">Enter the valid expiry date</p>
            </div>
            <div class="mb-3">
                <label>CVV of Card</label>
                <input type="number" class="form-control" placeholder="xxx" formControlName="cvv" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!cardForm.get('cvv')?.valid && cardForm.get('cvv')?.touched">Enter the valid cvv of card</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!cardForm.valid">Add Card</button>
        </div>
    </div>
</div>
</form>
  </div>
  <!-- Edit card modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="editCardForm" (submit)="editCard(editCardForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>Name on card</label>
                <input type="text" class="form-control" formControlName="name" [value]="cardName" minlength="1">
                <p class="error--line" *ngIf="!editCardForm.get('name')?.valid && editCardForm.get('name')?.touched">Enter the valid name on card</p>
            </div>
            <div class="mb-3">
                <label>Card number</label>
                <input type="number" class="form-control" placeholder="xxxxxxxxxxxx" [value]="cardNum" formControlName="number" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!editCardForm.get('number')?.valid && editCardForm.get('number')?.touched">Enter the valid card number</p>
            </div>
            <div class="mb-3">
                <label>Expiry month</label>
                <input type="month" class="form-control" formControlName="expiry" [value]="cardExp">
                <p class="error--line" *ngIf="!editCardForm.get('expiry')?.valid && editCardForm.get('expiry')?.touched">Enter the valid expiry date</p>
            </div>
            <div class="mb-3">
                <label>CVV of Card</label>
                <input type="number" class="form-control" placeholder="xxx" formControlName="cvv" [value]="cardCvv" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!editCardForm.get('cvv')?.valid && editCardForm.get('cvv')?.touched">Enter the valid cvv of card</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editCardForm.valid">Save changes</button>
        </div>
      </div>
    </div>
</form>
  </div>
<!--Add Address modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="addressForm" (submit)="createAddress(addressForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>Enter name</label>
                <input type="text" class="form-control" formControlName="name">
                <p class="error--line" *ngIf="!addressForm.get('name')?.valid && addressForm.get('name')?.touched">Enter the valid name</p>
            </div>
            <div class="mb-3">
                <label>Enter Phone</label>
                <input type="number" class="form-control" formControlName="phone" placeholder="xxxxxxxxxx" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!addressForm.get('phone')?.valid && addressForm.get('phone')?.touched">Enter the valid phone number</p>
            </div>
            <div class="mb-3">
                <label>Enter Address</label>
                <input type="text" class="form-control" formControlName="address">
                <p class="error--line" *ngIf="!addressForm.get('address')?.valid && addressForm.get('address')?.touched">Enter the valid address</p>
            </div>
            <div class="mb-3">
                <label>Enter PIN</label>
                <input type="number" class="form-control" formControlName="pin" placeholder="xxxxxx" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!addressForm.get('pin')?.valid && addressForm.get('pin')?.touched">Enter the valid PIN code</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
</form>
  </div>

  <!-- EDIT ADDRESS MODAL -->
  <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="editAddressForm" (submit)="editAddress(editAddressForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>Enter name</label>
                <input type="text" class="form-control" formControlName="name" [value]="addressName">
                <p class="error--line" *ngIf="!editAddressForm.get('name')?.valid && editAddressForm.get('name')?.touched">Enter the valid name</p>
            </div>
            <div class="mb-3">
                <label>Enter Phone</label>
                <input type="number" class="form-control" formControlName="phone" placeholder="xxxxxxxxxx" [value]="addressPhone" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!editAddressForm.get('phone')?.valid && editAddressForm.get('phone')?.touched">Enter the valid phone number</p>
            </div>
            <div class="mb-3">
                <label>Enter Address</label>
                <input type="text" class="form-control" formControlName="address" [value]="addressAdd">
                <p class="error--line" *ngIf="!editAddressForm.get('address')?.valid && editAddressForm.get('address')?.touched">Enter the valid address</p>
            </div>
            <div class="mb-3">
                <label>Enter PIN</label>
                <input type="number" class="form-control" formControlName="pin" placeholder="xxxxxx" [value]="addressPin" onkeydown="return event.keyCode !== 69">
                <p class="error--line" *ngIf="!editAddressForm.get('pin')?.valid && editAddressForm.get('pin')?.touched">Enter the valid PIN code</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
</form>
  </div>

    <!--Full view Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{full?.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <img src="{{full?.image}}" alt="..." width="90%">
            </div>
            <div class="col-md-6 card">
                <div class="card-body">
                    <h3 class="card-title">{{full?.title}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted">{{full?.description}}</h4>
                    <p class="card-text">MRP Rs. {{full?.price}} {{full?.discount}}</p>
                    <p class="card-text">Quantity: {{full?.qty}}</p>
                    <p class="card-text">Size: {{full?.size}}</p>
                    <p class="card-text">Ordered by {{full?.person}}</p>
                    <p class="card-text">Order is placed on {{full?.placed}}</p>
                    <p class="card-text d-flex flex-column">Delivery address on <span>{{full?.address}}</span><span>Contact number:{{full?.phone}}</span></p>
                    <p class="card-text">Order will be reach before {{full?.delivery}}</p>
                    <p class="card-text">Alternate number {{full?.phone}}</p>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--User credential Modal -->
<div class="modal fade" id="exampleModal20" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="userForm" (submit)="editUser(userForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>User Name</label>
                <input class="form-control" type="text" formControlName="username" [value]="userName" minlength="1">
                <p class="error--line" *ngIf="userForm.get('username')?.invalid">Enter user name</p>
            </div>
            <div class="mb-3">
                <label>Phone</label>
                <div class="input-group">
                    <select class="form-select" [value]="userCountry" formControlName="country">
                        <option *ngFor="let item of country" value="{{item.code}}">{{item.code}} ({{item.name}})</option>
                        <!-- <option value="{{userCountry}}" selected>{{userCountry}}</option> -->
                    </select>
                    <input class="form-control" type="number" [value]="userPhone" formControlName="phone" maxlength="10" onkeydown="return event.keyCode !== 69">
                </div>
                <p class="error--line" *ngIf="userForm.get('phone')?.invalid">Invalid phone number</p>
            </div>
            <div class="mb-3">
                <label>Gender</label>
                <select class="form-select" [value]="userGender" formControlName="gender">
                    <option selected>Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
                <p class="error--line" *ngIf="userForm.get('gender')?.invalid">Enter gender</p>
            </div>
            <div class="mb-3">
                <label>Date of Birth</label>
                <input class="form-control" type="date" [value]="userDOB" formControlName="dob">
                <p class="error--line" *ngIf="userForm.get('dob')?.invalid">Enter date of birth</p>
            </div>
            <div class="mb-3">
                <label>Location</label>
                <input class="form-control" type="text" [value]="userLocation" formControlName="location" minlength="1">
                <p class="error--line" *ngIf="userForm.get('location')?.invalid">Enter the location</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!userForm.valid">Save changes</button>
        </div>
    </div>
    </div>
    </form>
  </div>
  <app-footer></app-footer>
  
  