<app-navbar class="sticky"></app-navbar>
<app-loader *ngIf="!loader"></app-loader>
<div class="container my-4" *ngIf="loader">
    <div>
        <h3>Account</h3>
        <p>Myntra user <span class="user--name"> {{currentUser?.username}}</span></p>
        <div *ngIf="userData" class="profile-img">
            <img [src]="currentUser?.photoURL ? currentUser.photoURL : '../../assets/placeholder.webp'" alt="" width="120" height="120">
            <button class="btn" (click)="profile.click()"><i class="bi bi-pencil-fill"></i></button>
            <input #profile type="file" hidden (change)="onPhotoSelect($event, userData)">
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-2 d-flex flex-column">
            <a class="set--point" (click)="gotoDiv(0)">Overview</a>
            <a class="set--point" (click)="gotoDiv(1)">Orders</a>
        </div>
        <div class="col-10">
            <div class="overview--box py-5 px-5 {{flag == false ? '' : 'hide'}}">
                <div class="d-flex justify-content-between">
                    <h2>Profile details</h2>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="bi bi-pencil-square"></i></button>
                </div>
                <hr>
                <div class="table-box">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Full name</td>
                                <td>:-  {{userName }}</td>
                            </tr>
                            <tr>
                                <td>Mobile number</td>
                                <td>:- {{userCountry}}  {{userPhone}}</td>
                            </tr>
                            <tr>
                                <td>Email ID</td>
                                <td>:-  {{userEmail}}</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>:-  {{userGender}}</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>:-  {{userDOB}}</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>:-  {{userLocation}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger" (click)="logout()">Logout</button>
                </div>
            </div>
            <div class="orders--box {{flag == false ? 'hide' : ''}}" >
                <h2 class="order--head">Your Orders</h2>
                <p *ngIf="orderLength == 0" class="ord--none">You haven't ordered yet</p>
                <app-loader *ngIf="!loader"></app-loader>
                <div *ngIf="loader">
                <div *ngFor="let prod of ordersProduct | async" >
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="card mb-3 mt-3" style="max-width: 540px;" *ngFor="let box of prod.datas">
                    <div class="row g-0 boxes open--model" (click)="modalView(prod,box)">
                        <div class="col-md-4 ">
                        <img src="{{box.image}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 relative">
                        <div class="card-body">
                            <h5 class="card-title">{{box.title}}</h5>
                            <p class="card-text">{{box.description}}</p>
                            <p class="card-text">Size : {{box.size}}</p>
                            <p class="card-text">MRP : {{box.price}}Rs.</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </a>
                </div> 
            </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{full?.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <img src="{{full?.image}}" alt="..." width="90%">
            </div>
            <div class="col-md-6 card">
                <div class="card-body">
                    <h3 class="card-title">{{full?.title}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted">{{full?.description}}</h4>
                    <p class="card-text">MRP Rs. {{full?.price}} {{full?.discount}}</p>
                    <p class="card-text">Quantity: {{full?.qty}}</p>
                    <p class="card-text">Size: {{full?.size}}</p>
                    <p class="card-text">Ordered by {{full?.person}}</p>
                    <p class="card-text">Order is placed on {{full?.placed}}</p>
                    <p class="card-text d-flex flex-column">Delivery address on <span>{{full?.address}}</span><span>Contact number:{{full?.phone}}</span></p>
                    <p class="card-text">Order will be reach before {{full?.delivery}}</p>
                    <p class="card-text">Alternate number {{full?.phone}}</p>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="userForm" (submit)="editUser(userForm.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label>User Name</label>
                <input class="form-control" type="text" formControlName="username" [value]="userName" minlength="1">
                <p class="error--line" *ngIf="userForm.get('username')?.invalid">Enter user name</p>
            </div>
            <div class="mb-3">
                <label>Phone</label>
                <div class="input-group">
                    <select class="form-select" [value]="userCountry" formControlName="country">
                        <option *ngFor="let item of country" value="{{item.code}}">{{item.code}} ({{item.name}})</option>
                        <!-- <option value="{{userCountry}}" selected>{{userCountry}}</option> -->
                    </select>
                    <input class="form-control" type="number" [value]="userPhone" formControlName="phone" maxlength="10">
                </div>
                <p class="error--line" *ngIf="userForm.get('phone')?.invalid">Invalid phone number</p>
            </div>
            <div class="mb-3">
                <label>Gender</label>
                <select class="form-select" [value]="userGender" formControlName="gender">
                    <option selected>Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
                <p class="error--line" *ngIf="userForm.get('gender')?.invalid">Enter gender</p>
            </div>
            <div class="mb-3">
                <label>Date of Birth</label>
                <input class="form-control" type="date" [value]="userDOB" formControlName="dob">
                <p class="error--line" *ngIf="userForm.get('dob')?.invalid">Enter date of birth</p>
            </div>
            <div class="mb-3">
                <label>Location</label>
                <input class="form-control" type="text" [value]="userLocation" formControlName="location" minlength="1">
                <p class="error--line" *ngIf="userForm.get('location')?.invalid">Enter the location</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!userForm.valid">Save changes</button>
        </div>
    </div>
    </div>
    </form>
  </div>
  <app-footer></app-footer>
  
  