<div>
  <app-carousel></app-carousel>
  <div class="my-3 mx-4">
    <h3 class="secondary-header">Deals of the day</h3>
    <a href="/men">
    <div class="row deal--img">
      <div class="col-1" *ngFor="let img of dealsArr">
        <img src="{{img}}" alt="1">
      </div>
    </div>
  </a>
  </div>
  <div class="my-3 mx-4">
    <h3 class="secondary-header">Top pics</h3>
    <a href="/men">
    <div class="row  top--img">
      <div class="col" *ngFor="let img of topPics">
        <img src="{{img}}" alt="1">
      </div>
    </div>
  </a>
  </div>
  <div class="my-3 mx-4 ">
    <h3 class="secondary-header">Trends for her</h3>
    <a href="/women">
    <div class="row  her--img box--her">
      <div class="col" *ngFor="let img of trendsHer">
        <img src="{{img}}" alt="her1">
      </div>
    </div>
    </a>
  </div>
  <div class="my-3 mx-4 ">
    <h3 class="secondary-header">Trends for him</h3>
    <a href="/men">
    <div class="row  him--img box--him">
      <div class="col" *ngFor="let img of trendsHim">
        <img src="{{img}}" alt="him1">
      </div>
    </div>
  </a>
  </div> 
  <div class="my-3 mx-4">
    <h3 class="secondary-header">Best of kidswear</h3>
    <a href="/kids">
    <div class="row  kid--img">
      <div class="col" *ngFor="let img of kids">
        <img src="{{img}}" alt="kid1">
      </div>
    </div>
  </a>
  </div>
</div>
