.deal--img {
    justify-content: space-between;
    width: 95%;
    div{
        object-fit: cover;
        img{
            width: 100%;
        }
    }

    .image--d{
        img{
            width: 100%;
            height: 125px;
        }
    }
}

.image--d{
    padding: 15px;
    background-color: rgb(212, 130, 15);
}

.secondary-header{
    text-transform: uppercase;
    padding: 2% 0;
}

.top--img{
    justify-content: space-around;
    width: 100%;
    div{
        object-fit: contain;
        height: fit-content;
        img{
            width: 100%;
        }
    }
}

.her--img{
    justify-content: space-around;
    width: 100%;
    padding: 18px 5px;
    background-image: linear-gradient(to bottom right, rgb(236, 75, 75),rgb(230, 230, 72));
    div{
        object-fit: fill;
    }
    img{
        width: 100%;
    }
}

.him--img{
    justify-content: space-around;
    width: 100%;
    padding: 18px 5px;
    background-image: linear-gradient(to bottom right, green, blue);
    img{
        width: 100%;
    }
}

.kid--img{
    justify-content: space-around;
    width: 100%;
    padding: 18px 5px;
    background-image: linear-gradient(to bottom, rgb(199, 93, 93), rgb(236, 236, 116));
    img{
        width: 100%;
    }
}

.card{
    // border: none;
    height: 100%;
    .card-img-overlay{
        background-color: rgba(255, 255, 255, 0.328);
        padding: 10px 15px;
        top: auto;
        color: rgb(15, 16, 31);
        line-height: 10px;
        .card-text{
            span{
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
    .card-img-overlay:hover{
        background-color: #fff;
        color: #000;
    }
    .card-body{
        text-decoration: none;
        color: #000;
    }
}

.box{
    text-decoration: none;
}