.secondary-header{
    text-transform: uppercase;
    padding: 2% 0;
}

.women--west{
    justify-content: space-around;
    img{
        width: 300px;
    }
}

.women--ind{
    justify-content: space-around;
    img{
        width: 300px;
    }
}

.women--foot{
    justify-content: space-around;
    img{
        width: 300px;
    }
}

.women--sport{
    justify-content: space-around;
    img{
        width: 300px;
    }
}

.women--acc{
    justify-content: space-around;
    img{
        width: 300px;
    }
}