<div class="box">
    <app-carousel></app-carousel>
    
    <div class="my-3 mx-4">
        <h3 class="secondary-header">Trending in western wear</h3>
        <a href="women/products">
        <div class="row women--west">
            <div class="col" *ngFor="let image of western">
                <img src="{{image}}" alt="1">
            </div>
        </div>
    </a>
    </div>
    <div class="my-3 mx-4">
        <h3 class="secondary-header">Trending in indian wear</h3>
        <a href="women/products">
        <div class="row women--ind">
            <div class="col" *ngFor="let image of indianWear">
                <img src="{{image}}" alt="1">
            </div>
        </div>
    </a>
    </div>
    <div class="my-3 mx-4">
        <h3 class="secondary-header">Trending in sports wear</h3>
        <a href="women/products">
        <div class="row women--sport">
            <div class="col" *ngFor="let image of sportsWear">
                <img src="{{image}}" alt="1">
            </div>
        </div>
    </a>
    </div>
    <div class="my-3 mx-4">
        <h3 class="secondary-header">Trending in footwear</h3>
        <a href="women/products">
        <div class="row women--foot">
            <div class="col" *ngFor="let image of footWear">
                <img src="{{image}}" alt="1">
            </div>
        </div>
    </a>
    </div>
    <div class="my-3 mx-4">
        <h3 class="secondary-header">Trending in accessories</h3>
        <a href="women/products">
        <div class="row women--acc">
            <div class="col" *ngFor="let image of accessories">
                <img src="{{image}}" alt="1">
            </div>
        </div>
    </a>
    </div>
</div>